// general
$primary: #0D7EE7;
$secondary: #188FFE;
$tertiary: #4ad7a7;
$additional-font: #B6D8F8;
$btn-line-color: $primary;

// footer
$footer-background-color: $primary;
$footer-title-color: #fff;
$footer-text-color: #B6D8F8;
$footer-item-disc-color: $secondary;
.footer-logo { filter: brightness(0) invert(1); }
.footer-social-icons .footer-social-icon { color: $secondary; }

// dashboard
$dashboard-line-color-price: $tertiary; // price left border

$dashboard-banner-chart-legend-label-color: #B6D8F8;
$dashboard-stats-item-label-color: #B6D8F8;
$dashboard-banner-chart-legend-value-color: #fff; // chart labels
$dashboard-stats-item-value-color: #fff; // stat values

$dashboard-stats-item-border-color: $secondary; // stat border

$dashboard-banner-gradient-start: $primary; // gradient begin

$dashboard-banner-gradient-end: $primary; // gradient end

$dashboard-banner-network-plain-container-background-color: #0064C9; // stats bg


// navigation
.navbar { box-shadow: 0px 0px 30px 0px rgba(21, 53, 80, 0.12); } // header shadow

// buttons
$btn-line-bg: #fff; // button bg
$btn-line-color: $secondary; // button border and font color && hover bg color
$btn-copy-color: $secondary; // btn copy
$btn-qr-color: $secondary; // btn qr-code
$btn-address-card-icon-color: $secondary; // btn address color
$btn-contract-color: $secondary;

//links & tile
$tile-body-a-color: $secondary;
$tile-type-block-color: $secondary;
$tile-type-progress-bar-color: $secondary;
a.tile-title { color: $secondary !important; }

// card
$card-background-1: $secondary;
$card-tab-active: $secondary;

.layout-container {
	.dashboard-banner-container {
	  background-image: linear-gradient(
	    to bottom,
	    $dashboard-banner-gradient-start,
	    $dashboard-banner-gradient-end
	  );
	}
}

// Dark theme
$dark-primary: #188FFE;
$dark-secondary: #188FFE;
$dark-primary-alternate: #188FFE;

.dark-theme-applied {
  .dashboard-banner-chart-legend .dashboard-banner-chart-legend-item:nth-child(1)::before {
    background-color: $dark-primary !important;
  }
  .dashboard-banner-chart-legend .dashboard-banner-chart-legend-item:nth-child(2)::before {
    background-color: $dark-secondary !important;
  }
}